body {
	background-color: transparent;
	background-image: url("/img/noise.png"), url("/img/stars.png"), linear-gradient(hsl(260, 100%, 6%), hsl(200, 100%, 6%));
	background-blend-mode: overlay, normal, normal;
	background-repeat: repeat, repeat, no-repeat;
	background-attachment: scroll, scroll, fixed;
	color: hsl(0, 0%, 100%);
}

pre, pre code {
	background-color: hsl(215, 55%, 10%);
}
