html, body {
	background: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
}

.nav a {
	color: hsl(0, 0%, 100%);
}

.head {
	justify-content: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.head img {
	width: 140px;
	height: 140px;
	margin-top: 70px;
	margin-bottom: 21px;
}

.head h1 {
	margin-bottom: 21px;
}

.head a {
	border: none;
}

.head a:nth-child(3) button {
	margin-right: 14px;
	background-color: hsl(260, 100%, 43%);
	color: hsl(260, 100%, 100%);
}

.head a:nth-child(3) button:hover, .head a:nth-child(3) button:focus {
	background-color: hsl(260, 100%, 50%);
}

.head a:nth-child(3) button:active {
	background-color: hsl(260, 100%, 36%);
}

.head a:nth-child(4) button {
	background-color: hsl(0, 0%, 14%);
	color: hsl(260, 100%, 100%);
}

.head a:nth-child(4) button:hover, .head a:nth-child(4) button:focus {
	background-color: hsl(0, 0%, 21%);
}

.head a:nth-child(4) button:active {
	background-color: hsl(0, 0%, 7%);
}

@media screen and (max-width: 768px) {
	#head h1 {
		font-size: 37.009px;
	}
}
