body {
	background: #121212;
	color: #F7F7F7;
}

#nav a {
	color: #F7F7F7;
}

#head {
	margin-top: 100px;
}

#head img {
	height: 100px;
	margin-bottom: 20px;
}

#head h1 {
	font-size: 50px;
	max-width: 700px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#head a {
	margin-bottom: 20px;
}

#head a:nth-child(3) button {
	background: hsl(265, 100%, 52%);
	border: 1px solid hsl(265, 100%, 52%);
	color: #F7F7F7;
}

#head a:nth-child(4) button {
	background: #232323;
	border: 1px solid #343434;
	color: #E6E6E6;
}

.feature {
	margin-top: 70px;
	margin-bottom: 70px;
}

.feature h3 {
	font-weight: 700;
	letter-spacing: 5px;
}

.feature p {
	font-weight: 200;
}

#feature-minimal pre:nth-of-type(2) {
	margin: 0;
}

#example {
	height: 100%;
	margin-bottom: 16px;
	background-color: #232323;
}

#example p {
	font-size: 30px;
	font-weight: 200;
}

#example input {
	width: 80%;
	color: #D5D5D5;
	background-color: #343434;
	border-color: #676767;
}

@media screen and (max-width: 768px) {
	#head h1 {
		font-size: 37.009px;
	}
}
