body {
	background: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 100%);
}

#nav a {
	color: hsl(0, 0%, 100%);
}

#head h1 {
	margin-left: 58.5px;
	margin-right: 58.5px;
}

#head img {
	width: 169px;
}

#head a:nth-child(3) button {
	background-color: hsl(260, 100%, 36%);
	color: hsl(260, 100%, 100%);
}

#head a:nth-child(3) button:focus {
	border-color: hsl(260, 100%, 49%);
}

#head a:nth-child(4) button {
	background: hsl(0, 0%, 36%);
	color: hsl(0, 0%, 100%);
}

#head a:nth-child(4) button:focus {
	border-color: hsl(0, 0%, 49%);
}

.feature {
	margin-top: 99.4px;
	margin-bottom: 99.4px;
}

.feature h3 {
	font-weight: 700;
	letter-spacing: 5px;
}

.feature p {
	font-weight: 200;
}

#example {
	display: block;
	background-color: hsl(0, 0%, 23%);
}

#example input {
	width: 80%;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 36%);
}

@media screen and (max-width: 768px) {
	#head h1 {
		font-size: 37.009px;
	}
}
