.main {
	margin-top: 35px;
	justify-content: space-between;
	width: 100%;
}

.side {
	max-width: 350px;
	margin-right: 35px;
	margin-bottom: 35px;
	flex-direction: column;
}

.side h6, .side p {
	margin-bottom: 7px;
}

.side a {
	color: hsl(0, 0%, 36%);
	border: none;
}

.side a#active {
	color: hsl(260, 100%, 49%);
}

.content {
	max-width: 700px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content pre, .content img, .content ol, .content ul, .example {
	width: 100%;
	margin-bottom: 35px;
}

pre {
	padding: 14px;
}

pre code {
	padding: 0;
}

code {
	padding: 3.5px;
}

ol, ul {
	list-style: inside;
}

.example {
	flex-direction: column;
	background-color: hsl(0, 0%, 87%);
}

.example * {
	margin: 7px;
}

.example input {
	max-width: 350px;
	padding: 7px;
	background-color: hsl(0, 0%, 74%);
}
