#post {
	justify-content: space-between;
	margin-top: 100px;
}

#side a {
	display: block;
	color: #676767;
	text-decoration: none;
}

#side a#active {
	color: hsl(265, 100%, 52%);
}

#content {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
}

.example {
	margin-bottom: 16px;
	padding: 16px;
	background-color: #E6E6E6;
}

@media screen and (max-width: 768px) {
	#post {
		flex-direction: column;
		justify-content: start;
	}

	#content {
		width: 100%;
		margin-top: 50px;
	}
}
