body {
	text-align: center;
}

#side, #content {
	text-align: left;
	vertical-align: top;
}

#side {
	width: 287.2px;
}

#content {
	max-width: 830.1px;
}

#side p {
	margin-left: 14px;
	padding: 0;
}

#side a {
	color: hsl(0, 0%, 36%);
	border: none;
}

#side a#active {
	color: hsl(260, 100%, 49%);
}

code {
	padding: 4.1px;
	margin: 0;
}

.example {
	background-color: hsl(0, 0%, 87%);
}

.example input {
	background-color: hsl(0, 0%, 74%);
}

@media screen and (max-width: 768px) {
	body {
		text-align: left;
	}
}
