body {
	font-family: "HK Grotesk", Helvetica, sans-serif;
}

.container {
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

button {
	font-weight: 700;
}

pre {
	position: relative;
	background-color: hsl(200, 31%, 14%);
}

code {
	font-family: "Inconsolata", monospace;
	color: hsl(200, 31%, 14%);
	background-color: hsl(200, 14%, 90%);
	tab-size: 3;
}

pre a {
	position: absolute;
	top: calc(3px * var(--grain-scale));
	right: calc(3px * var(--grain-scale));
}

pre code {
	color: hsl(200, 14%, 65%);
	background-color: hsl(200, 31%, 14%);
}

.a-y-c {
	align-items: center;
}

.td-normal {
	text-decoration: none;
}

.token.string {
	color: hsl(100, 14%, 55%);
}

.token.keyword {
	color: hsl(300, 14%, 55%);
}

.token.number, .token.boolean, .token.attr-name {
	color: hsl(20, 31%, 55%);
}

.token.function, .token.tag {
	color: hsl(200, 31%, 55%);
}

.token.attr-value {
	color: hsl(200, 14%, 65%);
}

.token.comment {
	color: hsl(200, 31%, 29%);
}

.c-f-black {
	color: hsl(0, 0%, 14%);
}

.c-f-gray {
	color: hsl(0, 0%, 51%);
}

.c-f-white {
	color: hsl(0, 0%, 100%);
}

.c-f-purple-dark {
	color: hsl(260, 100%, 51%);
}

.c-b-purple-dark {
	background-color: hsl(260, 100%, 51%);
}

.c-b-purple-light {
	background-color: hsl(260, 100%, 31%);
}

@font-face {
	font-family: "HK Grotesk";
	src: url("/css/fonts/HKGrotesk-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "HK Grotesk";
	src: url("/css/fonts/HKGrotesk-Bold.otf") format("opentype");
	font-weight: 700;
}
