@font-face {
  font-family: 'Qanelas-Bold';
  font-style: normal;
  src: local('Qanelas-Bold'), url(./QanelasSoftDEMO-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'Qanelas-Light';
  font-style: normal;
  src: local('Qanelas-Light'), url(./QanelasSoftDEMO-UltraLight.otf) format('opentype');
}
