#head {
  background: #121212;
  color: #F7F7F7;
}

#head h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#head img {
  height: 100px;
  margin-bottom: 20px;
}

#head a {
  margin-bottom: 20px;
}

#head a:nth-child(3) button {
  background: hsl(245, 100%, 64%);
  border: 1px solid hsl(245, 100%, 57%);
  color: #E6E6E6;
}

#head a:nth-child(4) button {
  background: #232323;
  border: 1px solid #343434;
  color: #E6E6E6;
}

.feature {
  margin-top: 70px;
  margin-bottom: 70px;
}
