h1 {
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

#head {
	background: #121212;
	color: #F7F7F7;
}

#head img {
	height: 100px;
	margin-bottom: 20px;
}

#head a {
	margin-bottom: 20px;
}

#head a:nth-child(3) button {
	background: hsl(265, 100%, 52%);
	border: 1px solid hsl(265, 100%, 52%);
	color: #F7F7F7;
}

#head a:nth-child(4) button {
	background: #232323;
	border: 1px solid #343434;
	color: #E6E6E6;
}

.feature {
	margin-top: 70px;
	margin-bottom: 70px;
}

#feature-minimal pre:nth-of-type(2) {
	margin: 0;
}

#example {
	height: 100%;
	margin-bottom: 16px;
	background-color: #E6E6E6;
}

#example input {
	width: 80%;
}
