body {
	background: #F7F7F7;
	color: #121212;
}

.container-small {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
}

button {
	font-size: 13px;
	letter-spacing: 1px;
	background: #E6E6E6;
	color: #232323;
}

pre code {
	position: relative;
	background: #1f292e;
	border: 1px solid #343434;
	color: #b3c3cc;
}

pre code::after {
	position: absolute;
	top: 5px;
	right: 10px;
	content: attr(lang);
	font-size: 13px;
	color: #526d7a;
}

pre code .red {
	color: #cd9898;
}

pre code .orange {
	color: #cdaa98;
}

pre code .green {
	color: #aacd98;
}

pre code .blue {
	color: #90bed5;
}

pre code .purple {
	color: #bb98cd;
}

pre code .gray {
	color: #5c7a8a;
}
