/*=============================
  Primary Styles
=============================*/

body {
  background: #f5f5f5;
}

#logo {
  display: block;
  height: 30px;
}

#logo-link {
  padding-left: 0;
}

.nav {
  background-color: #5C53FF;
}

a.nav-item {
  color: #e5e5e5;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .2s ease;
}

a.nav-item:hover {
  color: #f5f5f5;
}

a.nav-item.router-link-active {
  color: #f5f5f5;
}

a.no-decoration {
  text-decoration: none;
}

.container {
  max-width: 800px;
}

.container.background {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FDFDFD;
}

[m-mask] {
  display: none;
}
